body {
  background-image: url('imagen_empleo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional, if you want the background to stay fixed */
}


#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 20px;
}
